# ASSIGNMENT 1

In [1]:
"""
Q1. In the below elements which of them are values or an expression? 
(eg:- values can be integer or string and expressions will be mathematical operators.)

* 
'hello'
-87.8
- 
/ 
+
6

"""

"\nQ1. In the below elements which of them are values or an expression? \n(eg:- values can be integer or string and expressions will be mathematical operators.)\n\n* \n'hello'\n-87.8\n- \n/ \n+\n6\n\n"

In [2]:
"""Answer 1
a) * = Expression
b) 'hello' = Value
c) -87.8 = Value
d) - = Expression
e) / = Expression
f) + = Expression
g) 6 = Value

"""

"Answer 1\na) * = Expression\nb) 'hello' = Value\nc) -87.8 = Value\nd) - = Expression\ne) / = Expression\nf) + = Expression\ng) 6 = Value\n\n"

In [3]:
"""Q2. What is the difference between string and variable? """

'Q2. What is the difference between string and variable? '

In [4]:
"""Answer 2
#STRING:-
a) A string is an ordered sequence of characters.
b) It is always enclosed in single/double quotes.
c) It is immutable.

#Variable:-
a) A variable is like a container which is used to store various datasets into the RAM of the system.
b) It can be assigned integers, strings, lists, tuples, dictionary, etc.
c) Following rules should be followed while naming the variables:
   * its name should not be an integer or special characters only.
   * its name should not start with integer or special characters (_ can be given).
   * its name should not be a reserved keyword.
"""

'Answer 2\n#STRING:-\na) A string is an ordered sequence of characters.\nb) It is always enclosed in single/double quotes.\nc) It is immutable.\n\n#Variable:-\na) A variable is like a container which is used to store various datasets into the RAM of the system.\nb) It can be assigned integers, strings, lists, tuples, dictionary, etc.\nc) Following rules should be followed while naming the variables:\n   * its name should not be an integer or special characters only.\n   * its name should not start with integer or special characters (_ can be given).\n   * its name should not be a reserved keyword.\n'

In [5]:
"""Q3. Describe three different data types."""

'Q3. Describe three different data types.'

In [6]:
"""Answer 3
1. Numerical data types:-
   a) int- comprises of integers.
   b) float- comprises of decimal numbers.
   c) complex- comprises of imaginary numbers.
   
2. Boolean data types (bool):-
   a) True- when statement is correct.
   b) False- when statement is incorrect.
   
3. Sequence data types:-
   a) str- an ordered sequence of characters.
   b) list- an ordered collection of datasets which is mutable and enclosed in [].
   c) tuple- an ordered collection of datasets which is immutable and enclosed in ().
"""

'Answer 3\n1. Numerical data types:-\n   a) int- comprises of integers.\n   b) float- comprises of decimal numbers.\n   c) complex- comprises of imaginary numbers.\n   \n2. Boolean data types (bool):-\n   a) True- when statement is correct.\n   b) False- when statement is incorrect.\n   \n3. Sequence data types:-\n   a) str- an ordered sequence of characters.\n   b) list- an ordered collection of datasets which is mutable and enclosed in [].\n   c) tuple- an ordered collection of datasets which is immutable and enclosed in ().\n'

In [7]:
"""Q4. What is an expression made up of? What do all expressions do?"""

'Q4. What is an expression made up of? What do all expressions do?'

In [8]:
"""Answer 4
* An expression is a combination of values, variables, operators and functions call.
* It produces some value or result after evaluating.
"""

'Answer 4\n* An expression is a combination of values, variables, operators and functions call.\n* It produces some value or result after evaluating.\n'

In [9]:
"""Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?"""

'Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?'

In [10]:
"""Answer 5
*An expression is evaluated for giving some results while,
a statement is not evaluated for giving some results. 
"""

'Answer 5\n*An expression is evaluated for giving some results while,\na statement is not evaluated for giving some results. \n'

In [11]:
"""Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
"""

'Q6. After running the following code, what does the variable bacon contain?\nbacon = 22\nbacon + 1\n'

In [12]:
"""Answer 6"""
bacon = 22
bacon + 1

23

In [13]:
"""Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
"""

"Q7. What should the values of the following two terms be?\n'spam' + 'spamspam'\n'spam' * 3\n"

In [14]:
"""Answer 7"""
a= "spam" + "spamspam"
print("a= ",a)

b= 'spam' * 3
print("b= ",b)

a=  spamspamspam
b=  spamspamspam

In [15]:
"""Q8. Why is eggs a valid variable name while 100 is invalid?"""

'Q8. Why is eggs a valid variable name while 100 is invalid?'

In [16]:
"""Answer 8
Following rules should be followed while naming the variables:
a) its name should not be an integer or special characters only.
b) its name should not start with integer or special characters (_ can be given).
c) its name should not be a reserved keyword.

Therefore, 100 (an integer) is an invalid variable name.
"""

'Answer 8\nFollowing rules should be followed while naming the variables:\na) its name should not be an integer or special characters only.\nb) its name should not start with integer or special characters (_ can be given).\nc) its name should not be a reserved keyword.\n\nTherefore, 100 (an integer) is an invalid variable name.\n'

In [17]:
"""Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?"""

'Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?'

In [18]:
"""Answer 9"""
a=3456.864

b=int(a)
print("integer value is", b)

c=float(a)
print("float value is", c)

d=str(a)
print("string value is", d)

integer value is 3456
float value is 3456.864
string value is 3456.864

In [19]:
"""Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
"""

"Q10. Why does this expression cause an error? How can you fix it?\n'I have eaten ' + 99 + ' burritos.'\n"

In [20]:
"""Answer 10
* The above expression will give error because addition operation can be performed in between same data types only.
* Here, it is adding strings and integer.
* To resolve this error, integer should be typecasted into string as shown below.
"""
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'